[
  {
    "scope": "https://www.googleapis.com:443",
    "method": "get",
    "path": "/plus/v1/people/me?fields=emails%2Cimage%2Cname%2Cnickname%2C%20organizations",
    "body": "",
    "status": 200,
    "response": {
      "emails": [
        {
          "value": "tester@codebrahma.com",
          "type": "account"
        }
      ],
      "name": {
        "familyName": "Codebrahma",
        "givenName": "Tester"
      },
      "image": {
        "url": "https://lh5.googleusercontent.com/-0qg934a4AB8/AAAAAAAAAAI/AAAAAAAAAGY/eOSJq-NXD9U/photo.jpg?sz=50",
        "isDefault": false
      }
    },
    "rawHeaders": [
      "Tue, 16 Oct 2018 18:22:25 GMT",
      "Tue, 16 Oct 2018 18:22:25 GMT",
      "private, max-age=0, must-revalidate, no-transform",
      "ETag",
      "\"jb1Xzanox6i8Zyse4DcYD8sZqy0/j7IRK9-SFuYXzR2AfAVQ8cRrhRQ\"",
      "X-Origin",
      "Content-Type",
      "application/json; charset=UTF-8",
      "nosniff",
      "SAMEORIGIN",
      "1; mode=block",
      "298",
      "GSE",
      "quic=\":443\"; ma=2592000; v=\"44,43,39,35\"",
      "close"
    ]
  }
]