[
  {
    "scope": "https://www.googleapis.com:443",
    "method": "post",
    "path": "/oauth2/v4/token",
    "body": "code=4%2FegCFs62C-w5rdb2-DXO1IWp3wH0dedfxXI7WO5muqZjpqRn5ZMb7T_WAXP6hWZj6l7LXZqrVvj0otFzKFT4-ZLc&client_id=395148a85588-u14sldkjlvsbkip0go8cr0c28p2khrma.apps.googleusercontent.com&client_secret=Pxif_qiTMdrIA24NNUlfxC5C&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fjwt%2F&grant_type=authorization_code&code_verifier=",
    "status": 400,
    "response": {
      "error": "invalid_grant",
      "error_description": "Bad Request"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "X-Origin",
      "Wed, 17 Oct 2018 12:07:30 GMT",
      "ESF",
      "private",
      "1; mode=block",
      "SAMEORIGIN",
      "nosniff",
      "quic=\":443\"; ma=2592000; v=\"44,43,39,35\"",
      "none",
      "close"
    ]
  }
]