[
  {
    "scope": "https://www.googleapis.com:443",
    "method": "post",
    "path": "/oauth2/v4/token",
    "body": "refresh_token=1%2FVxITiZClwQ76BdHQ8jl_9WZtkYjzvVoR14fM3yCne1Y&client_id=395148a85588-u14sldkjlvsbkip0go8cr0c28p2khrma.apps.googleusercontent.com&client_secret=Pxif_qiTMdrIA24NNUlfxC5C&grant_type=refresh_token",
    "status": 400,
    "response": {
      "error": "invalid_grant",
      "error_description": "Bad Request"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "X-Origin",
      "Wed, 17 Oct 2018 12:07:30 GMT",
      "ESF",
      "private",
      "1; mode=block",
      "SAMEORIGIN",
      "nosniff",
      "quic=\":443\"; ma=2592000; v=\"44,43,39,35\"",
      "none",
      "close"
    ]
  }
]